body {
    box-sizing: border-box;
    overflow: hidden;
}

.tree-preview-wrapper {
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 45px);
    width: calc(100vw - 250px);
    padding-bottom: 100px;
}

.tree-preview-wrapper-without-files {
    width: calc(100vw - 40px);
}

.tree-preview-wrapper::-webkit-scrollbar, .call-tree-wrapper::-webkit-scrollbar {
    width: 12px;
}

.tree-preview-wrapper::-webkit-scrollbar-track, .call-tree-wrapper::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}

.tree-preview-wrapper::-webkit-scrollbar-thumb, .call-tree-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}

section {
    background-color: white;
    position: relative;
    padding: 0 35px;
    transition: margin 300ms;
}

.call-tree-wrapper section {
    min-height: calc(100vh - 45px);
    padding-bottom: 200px;
    box-sizing: border-box;
}

.tree-preview-wrapper section {
    border-top: 1px solid #ddd;
    padding: 0 20px 0 40px;
}

.tree-preview-wrapper h2 {
    cursor: pointer;
}

.call-tree-header, .tree-preview h2 {
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    padding-top: 10px;
    margin-top: 0;
    width: 100%;
}

.tree-preview h2 {
    margin-bottom: 5px;
}

.call-tree-header span {
    color: #666;
    font-style: italic;
}

.show-call-tree-button {
    position: absolute;
    top: 2px;
    left: 5px;
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    height: 30px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms;
}

.tree-preview-wrapper section:hover .show-call-tree-button {
    opacity: 1;
}

.call-tree-wrapper {
    height: calc(100vh - 45px);
    display: none;
    overflow-x: scroll;
    overflow-y: scroll;
}

.call-tree-wrapper-zoomed {
    overflow-x: hidden;
}

.call-tree-wrapper h2 i {
    color: #0e8fdf;
    cursor: pointer;
    font-style: normal;
    text-decoration: underline;
}

canvas {
    padding-right: 35px;
}

.hidden-tree-preview {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

#hide-file-list-button img {
    position: absolute;
    margin-left: -45%;
    margin-top: -50%;
    opacity: 0.5;
    transition: opacity 300ms;
}

#hide-file-list-button img:hover {
    cursor: pointer;
    opacity: 0.9;
}

.return-value {
    max-width: 300px;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#search-method-form {
    display: none;
}

.saved-value {
    padding: 10px;
    font-style: italic;
    color: #333;
    font-size: 14px;
}