main {
    overflow: scroll;
    height: calc(100vh - 45px);
    padding: 20px;
    transition: width 300ms;
    box-sizing: border-box;
}

main::-webkit-scrollbar, .call-tree-wrapper::-webkit-scrollbar {
    width: 12px;
}

main::-webkit-scrollbar-track, .call-tree-wrapper::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}

main::-webkit-scrollbar-thumb, .call-tree-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}

.hot-spot a img {
    float: left;
    padding-right: 8px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: opacity 300ms;
}

.hot-spot:hover a img {
    opacity: 1;
}

.return-value {
    color: #000080;
}

.method-name {
    color: black;
}

.class-name {
    color: #df7300;
}

.parameter {
    color: #660E82;
}

.total-time {
    width: 200px;
    height: 17px;
    float: left;
    border: solid #ccc 1px;
    margin-left: 20px;
    padding: 2px;
    box-sizing: border-box;
}

.method-time {
    height: 100%;
    background-color: #0e8fdf;
}

.method {
    margin-left: 320px;
    margin-top: 0;
}

.code-margin {
    margin: 0;
    display: inline-block;
}

.relative-time {
    float: left;
    margin: 0;
    font-size: 12px;
    width: 20px;
    text-align: right;
}

.hot-spot a {
    margin-right: 10px;
}