main {
    overflow: scroll;
    height: calc(100vh - 45px);
    padding: 20px;
    transition: width 300ms;
    box-sizing: border-box;
}

main::-webkit-scrollbar, .call-tree-wrapper::-webkit-scrollbar {
    width: 12px;
}

main::-webkit-scrollbar-track, .call-tree-wrapper::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}

main::-webkit-scrollbar-thumb, .call-tree-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}

.hot-spot a img {
    float: left;
    padding-right: 8px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: opacity 300ms;
}

.hot-spot:hover a img {
    opacity: 1;
}

.method-name {
    color: black;
}

.class-name {
    margin-bottom: 3px;
}

.class-name code {
    padding-left: 12px;
    color: #666;
}

.total-time {
    width: 200px;
    height: 17px;
    float: left;
    margin-left: 20px;
    box-sizing: border-box;
    background-color: #eee;
}

.method-time {
    height: 100%;
    background-color: #0e8fdf;
}

.method {
    margin-left: 320px;
    margin-top: 0;
    margin-bottom: 0;
}

.code-margin {
    margin: 0;
    display: inline-block;
}

.relative-time {
    float: left;
    margin: 0;
    font-size: 12px;
    width: 20px;
    text-align: right;
}

.hot-spot a {
    margin-right: 10px;
}

main button {
    border: 0;
    font: inherit;
    line-height: normal;
    overflow: visible;
    background-color: #0e8fdf;
    color: white;
    padding: 8px 10px 5px;
    position: relative;
    left: 108px;
    top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

main button:hover {
    background-color: #086ead;
}

main button:active {
    background-color: #064e7a;
}