@font-face {
    font-family: "Gotham Pro";
    font-weight: bold;
    src: url(../font/GothamProBold.ttf);
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: normal;
    src: url(../font/GothamProRegular.ttf);
}

@font-face {
    font-family: "Menlo";
    font-weight: normal;
    src: url(../font/Menlo-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Gotham Pro", sans-serif;
    font-weight: normal;
}

main {
    width: 700px;
    display: block;
    margin: 0 auto 100px;
}

h1 {
    width: 100%;
    text-align: center;
    font-family: "Gotham Pro", sans-serif;
    font-weight: bold;
}

h2 {
    padding-top: 20px;
    border-top: 2px solid #ddd;
    margin-bottom: 40px;
}

form {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

section {
    background-color: white;
    padding: 0;
    margin-bottom: 30px;
    position: relative;
}

.call-tree {
    position: relative;
    height: 800px;
}

main ol {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 50px;
    bottom: 0;
    width: 100%;
}

main li {
    display: inline-block;
    position: absolute;
    list-style: none;
    height: 25px;
    z-index: 1;
    background-size: cover;
    background: #5457FF linear-gradient(#5EDAFF, #5457FF) fixed center;
    box-sizing: border-box;
    border-top: solid white 1px;
}

.call-tree .method-name {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Menlo, sans-serif;
    font-size: 14px;
    color: white;
    padding: 0 0 0 2px;
}

.popup {
    background-color: #222;
    font-family: "Menlo", "Gotham Pro", sans-serif;
    font-weight: normal;
    color: white;
    display: none;
    position: absolute;
    z-index: 100;
    padding: 10px 15px 15px;
}

.popup h3 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
}

.popup b {
    font-size: 18px;
}

.popup p {
    margin: 0;
    font-size: 12px;
}

.inputfile {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 14px;
    color: white;
    background-color: #18A3FA;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.inputfile + label:hover {
    background-color: #0887d7;
}

.inputfile + label {
    cursor: pointer;
}

.inputfile + label * {
    pointer-events: none;
}

nav {
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-family: "Gotham Pro", sans-serif;
    font-weight: normal;
}

nav ul li a:hover, .current-link {
    color: #0887D7;
}