@font-face {
    font-family: "Gotham Pro";
    font-weight: bold;
    src: url(../font/GothamProBold.ttf);
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: normal;
    src: url(../font/GothamProRegular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Gotham Pro", sans-serif;
    font-weight: normal;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #111;
}

h1 {
    width: 100%;
    text-align: center;
    font-family: "Gotham Pro", sans-serif;
    font-weight: bold;
}

section header {
    color: #222;
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30px;
    height: 80px;
    min-width: 200px;
}

.header-call-traces {
    margin-bottom: 100px;
}

section header code {
    font-family: "Gotham Pro", sans-serif;
}

section header h2 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 7px;
}

section header h2 img {
    top: 2px;
}

section header img {
    margin-right: 5px;
    position: relative;
}

section header .class-name {
    display: flex;
}

.time-percent p {
    margin-top: 5px;
    color: #777;
    font-size: 14px;
}

.file-form {
    width: 100%;
    margin-bottom: 20px;
}

.call-tree {
    position: relative;
    height: 800px;
}

.call-tree .method-name {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Menlo, sans-serif;
    font-size: 14px;
    color: white;
    padding: 0 0 0 2px;
}

.popup {
    background-color: #e5e5e5;
    font-weight: normal;
    position: absolute;
    z-index: 100;
    padding: 6px 15px 8px;
    text-align: left;
    display: none;
    min-width: 120px;
}

.popup h3 {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 7px;
    font-weight: normal;
}

.popup h4 {
    margin: 15px 0 5px;
    font-size: 14px;
    font-weight: normal;
}

.popup p {
    margin: 0;
    font-size: 12px;
}

.popup a img {
    margin-right: 10px;
}

.popup .class-name {
    font-size: 13px;
    color: #444;
    margin-bottom: 8px;
}

.shift-right {
    padding-left: 23px;
}

.method-links {
    margin-bottom: 5px;
}

.popup .duration {
    position: absolute;
    right: 15px;
    top: 12px;
    color: #444;
}

.popup .parameters p {
    margin-bottom: 2px;
    max-width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.popup .parameters span {
    font-style: italic;
    color: #555;
}

.inputfile {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.inputfile + label {
    color: white;
    background-color: #0887d7;
    width: 120px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0 auto 0;
}

.inputfile + label:hover {
    background-color: #0887d7;
}

.inputfile + label {
    cursor: pointer;
}

.inputfile + label * {
    pointer-events: none;
}

nav {
    padding: 0;
    height: 30px;
    background-color: #f3f3f3;
    width: 100vw;
}

nav ul {
    z-index: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
    right: 80px;
}

nav ul li {
    height: 100%;
    list-style: none;
    vertical-align: baseline;
    padding: 0;
    margin: 0;
    transition: background-color 300ms;
}

.current-link a {
    color: white;
}

nav ul li a, .choose-file-header a {
    color: #111;
    text-transform: uppercase;
    font-family: "Gotham Pro", sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    height: 100%;
    vertical-align: baseline;
    align-items: center;
    padding: 0 20px;
}

nav ul li:hover {
    background-color: #baddf2;
}

nav ul li:active {
    background-color: #0e8fdf;
}

nav ul li a:focus {
    color: white;
}

.current-link:hover {
    background-color: #0e8fdf;
}

.current-link {
    background-color: #0e8fdf;
}

.popup ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0;
}

.choose-file-header {
    position: absolute;
    top: 0;
    left: 20px;
}

.chosen-file {
    display: inline-block;
    background-color: #18A3FA;
    border-radius: 20px;
    padding: 10px 15px 6px;
    color: white;
    margin-right: 10px;
    font-weight: normal;
}

.file-list {
    list-style: none;
    padding: 0;
    margin-top: 21px;
    overflow-y: scroll;
    height: calc(100vh - 145px);
    border-top: solid 1px #bbb;
    border-bottom: solid 1px #ccc;
    user-select: none;
}

.file-list li {
    display: flex;
    height: 45px;
    align-items: center;
}

.file-list::-webkit-scrollbar {
    width: 10px;
}

.file-list::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}

.file-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}

.file-list li a {
    display: inline-block;
    width: calc(100% - 40px);
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    color: #282828;
    position: relative;
    margin-top: 0;
}

.file-list li:hover {
    background-color: #39AEF0;
    min-width: 100%;
}

.file-list li:hover a {
    color: white;
    transition: color 300ms;
}

.file-list li p {
    margin: 0;
    white-space: nowrap;
}

.file-list li span {
    font-size: 12px;
    opacity: 0.9;
}

.no-file-found {
    text-align: left;
    padding-left: 50px;
    opacity: 0.6;
}

.file-menu {
    z-index: 1;
    float: left;
    height: 100%;
    /*width: 250px;*/
    width: 0;
    top: 0;
    left: 0;
    background-color: #e5e5e5;
    color: #282828;
    position: relative;
    display: none;
}

.search-form {
    pointer-events: none;
    margin-left: 20px;
    opacity: 0;
}

/*noinspection ALL*/
.search-form input {
    background: url(../img/search-icon-black.png) no-repeat 6px 5px;
    background-size: 18px;
    background-color: #d5d5d5;
    font-size: 14px;
    color: #6a6a6a;
    padding: 4px 0 6px 28px;
    border-width: 0;
    transition: opacity 300ms;
    height: 30px;
    box-sizing: border-box;
}

.search-form input:focus {
    outline: none;
}

.search-form input::placeholder {
    transition: all 0.7s ease 0s;
    color: #777;
}

.search-form input:focus::placeholder {
    color: #999;
}

.file-list-actions {
    height: 20px;
    position: relative;
    padding-top: 5px;
}

.current-file {
    background-color: #0e8fdf;
}

.file-list .current-file a {
    color: white;
}

button {
    border: none;
    cursor: pointer;
}

.message {
    text-align: center;
    color: #6a6a6a;
    position: fixed;
    top: 45%;
    width: 100%;
    line-height: 20px;
}

.dim {
    width: 100vw;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 280px;
    pointer-events: none;
}

.loader-background {
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: calc(50% - 25px);
    width: 0;
    left: 0;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0.9;
    display: none;
}

.loader {
    border: 4px solid #d7d7d7;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    margin-left: calc(50% - 15px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.uploaded-files-drop-down {
    background-color: #f1f1f1;
}

#search-method-form {
    position: fixed;
    right: 100px;
    z-index: 10;
}

#hide-file-list-button {
    position: absolute;
    bottom: 6px;
    right: 15px;
    padding: 0;
    width: 30px;
    height: 30px;
}

#hide-file-list-button, .action-button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
}

#hide-file-list-button img {
    position: absolute;
    margin-left: -45%;
    margin-top: -50%;
    opacity: 0.5;
    transition: opacity 300ms;
}

#hide-file-list-button img:hover {
    cursor: pointer;
    opacity: 0.9;
}

#arrow-right {
    display: none;
}

button:focus {
    outline: none;
}

.action-button {
    position: relative;
    transition: opacity 300ms;
    top: 6px;
}

.remove-files-button {
    opacity: 0.2;
    margin-left: 7px;
    top: -3px;
}

#search-file-form {
    float: right;
    position: relative;
    top: -6px;
    left: -10px;
    margin-left: 0;
}

#search-file-form input {
    width: 190px;
}

.active-gray-button {
    cursor: pointer;
    opacity: 0.7;
}

.active-gray-button:hover {
    opacity: 0.8;
}

.active-gray-button:active {
    opacity: 0.9;
}

.vertical-project-name {
    pointer-events: none;
    transform: rotate(-90deg) translateX(-50px) translateY(-155px);
    margin-top: 100px;
    height: 40px;
    width: 350px;
    background-color: #c6c6c6;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.vertical-project-name:hover {
    cursor: pointer;
}

.file-list li:hover .file-checkbox + .file-checkbox-label:before {
    opacity: 1;
}

.filter {
    position: fixed;
    width: 80px;
    height: 30px;
    background-color: #d0d0d0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filter:hover {
    background-color: #ababab;
}

.filter:active {
    background-color: #8a8a8a;
}

.filter-applied {
    color: white;
    background-color: #0e8fdf;
}

.filter-content {
    position: fixed;
    background-color: #e3e3e3;
    width: 300px;
    height: 155px;
    top: 30px;
    right: 0;
    display: none;
    padding: 20px;
    z-index: 2;
}

.include-pattern-input {
    width: 100%;
    box-sizing: border-box;
    height: 22px;
    padding: 0 5px 2px;
    border: solid 1px #c8c8c8;
}

.filter-content input::placeholder {
    transition: all 0.7s ease 0s;
    color: #9e9e9e;
}

.filter-content input:focus::placeholder {
    color: #bbb;
}

.apply-filter, .cancel-filter, .clear-filter, .do-confirm, .do-not-confirm {
    position: absolute;
    background: none;
    border: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 70px;
    height: 30px;
    color: white;
    bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 300ms;
}

.apply-filter, .do-confirm {
    background-color: rgba(14, 143, 223, 0.66);
    right: 170px;
    cursor: default;
}

.active-apply:hover, .filter-applied:hover, .do-confirm:hover {
    background-color: #086ead;
}

.active-apply:active, .filter-applied:active, .do-confirm:active {
    background-color: #064e7a;
}

.active-apply, .do-confirm {
    background-color: #0e8fdf;
    cursor: pointer;
}

.cancel-filter, .clear-filter, .do-not-confirm {
    background-color: #ababab;
    right: 90px;
}

.cancel-filter {
    right: 10px;
}

.cancel-filter:hover, .clear-filter:hover, .do-not-confirm:hover {
    background-color: #8a8a8a;
}

.cancel-filter:active, .clear-filter:active, .do-not-confirm:active {
    background-color: #696969;
}

.filter-content label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
}

.filtered-methods-count {
    font-size: 14px;
}

.filtered-methods-count span {
    opacity: 0.8;
    font-style: italic;
}

.loader-message p {
    text-align: center;
    color: #333;
    margin-bottom: 0;
    line-height: 18px;
    overflow-wrap: break-word;
}

#search-method-form input {
    background-color: #ddd;
    width: 170px;
}

.canvas-zoomed {
    opacity: 0;
    pointer-events: none;
}

.original-canvas {
    position: absolute;
}

.original-canvas-zoomed {
    pointer-events: none;
    opacity: 0;
}

.canvas-zoomed-show {
    pointer-events: initial;
    opacity: 1;
}

canvas {
    transition: opacity 300ms;
}

.canvas-wrapper canvas {
    margin-top: 40px;
}

.parameter {
    color: #000080;
}

.do-confirm, .do-not-confirm {
    width: 70px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: static;
}

.icon {
    position: absolute;
    margin-top: -4px;
}

.file-checkbox {
    opacity: 0;
    pointer-events: none;
}

.file-checkbox, .file-checkbox-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    right: 11px;
}

.file-checkbox-label {
    position: relative;
}

.file-checkbox + .file-checkbox-label:before {
    content: '';
    background: #fff;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 2px;
    text-align: center;
    box-sizing: border-box;
    opacity: 0.7;
    transition: opacity 300ms;
    pointer-events: none;
}

.file-checkbox:checked + .file-checkbox-label:before {
    background: #0e69b1;
    border: 2px solid white;
}

.undo-delete {
    position: absolute;
    text-align: center;
    background-color: #777;
    color: white;
    font-size: 14px;
    padding: 5px 0;
    transition: background-color 300ms, opacity 300ms;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    bottom: 5px;
    left: 47px;
    width: 155px;
}

.undo-delete:hover {
    background-color: #666;
}

.undo-delete:active {
    background-color: #555;
}

.full-file-name {
    position: absolute;
    z-index: 2;
    left: 43px;
    background-color: #39AEF0;
    color: white;
    pointer-events: none;
    display: flex;
    height: 45px;
    align-items: center;
    padding: 0 5px;
    min-width: 187px;
    opacity: 0;
}

.full-file-name span {
    font-size: 12px;
    opacity: 0.9;
}

.visible-without-pointer-events {
    opacity: 1;
}

.disabled-field {
    pointer-events: none;
    opacity: 0.6;
}

.error-message-block {
    position: absolute;
    bottom: 25px;
    left: 10px;
    width: 400px;
    background-color: #e5e5e5;
    padding: 15px 25px 15px 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms;
    overflow-wrap: break-word;
}

.error-message-block p {
    margin: 4px 0;
    padding-left: 35px;
}

.error-message-block .error-icon {
    float: left;
    position: relative;
    top: -2px;
    margin-right: 8px;
    opacity: 0.6;
}

.error-message-block .close-icon {
    position: absolute;
    top: 10px;
    opacity: 0.6;
    right: 10px;
    cursor: pointer;
}

.supported-formats-help {
    opacity: 0.3;
    transition: opacity 300ms;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 19px;
    left: 200px;
}

.supported-formats-help:hover {
    opacity: 0.4;
    cursor: pointer;
}

.supported-formats {
    opacity: 0;
    transition: opacity 300ms;
    pointer-events: none;
    position: absolute;
    background-color: #f3f3f3;
    z-index: 1;
    width: 500px;
    top: 55px;
    left: 260px;
}

.supported-formats h3 {
    font-weight: normal;
    margin: 20px 25px 10px;
}

.supported-formats li {
    line-height: 150%;
    margin-top: 8px;
}

.supported-formats code {
    padding: 2px 4px;
    background-color: #e2e2e2;
}

.close-supported-formats {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    transition: opacity 300ms;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-supported-formats:hover {
    opacity: 0.7;
    cursor: pointer;
}

.visible {
    opacity: 1;
    pointer-events: auto;
}

.include-stacktrace-checkbox {
    float: left;
}

.include-stacktrace-label {
    padding-top: 4px;
    padding-left: 25px;
}
