@font-face {
    font-family: "Gotham Pro";
    font-weight: bold;
    src: url(../font/GothamProBold.ttf);
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: normal;
    src: url(../font/GothamProRegular.ttf);
}

@font-face {
    font-family: "Menlo";
    font-weight: normal;
    src: url(../font/Menlo-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Gotham Pro", sans-serif;
    font-weight: normal;
}

main {
    width: 1200px;
    display: block;
    margin-top: 0;
    margin-left: calc((100vw - 250px - 1200px) / 2 + 250px);
    margin-bottom: 300px;
    z-index: -2;
    position: absolute;
    transition: margin 300ms;
}

h1 {
    width: 100%;
    text-align: center;
    font-family: "Gotham Pro", sans-serif;
    font-weight: bold;
}

.call-tree-header {
    padding-top: 20px;
    border-top: 2px solid #ddd;
    margin-bottom: 40px;
}

.accumulative-tree-header {
    color: #222;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.file-form {
    width: 100%;
    margin-bottom: 20px;
}

.file-form p {
    text-align: center;
    margin-top: 10px;
    opacity: 0.7;
}

section {
    background-color: white;
    padding: 0;
    margin-bottom: 30px;
    position: relative;
}

.call-tree {
    position: relative;
    height: 800px;
}

.call-tree .method-name {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Menlo, sans-serif;
    font-size: 14px;
    color: white;
    padding: 0 0 0 2px;
}

.popup {
    background-color: #222;
    font-family: "Menlo", "Gotham Pro", sans-serif;
    font-weight: normal;
    color: white;
    display: none;
    position: absolute;
    z-index: 100;
    padding: 10px 15px 15px;
}

.popup h3 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.popup p, .popup a {
    margin: 0;
    font-size: 12px;
}

.popup a {
    color: rgb(209, 253, 255);
}

.inputfile {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.inputfile + label {
    color: white;
    background-color: #0887d7;
    width: 150px;
    height: 50px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    margin: 7px auto 10px;
}

.inputfile + label:hover {
    background-color: #0887d7;
}

.inputfile + label {
    cursor: pointer;
}

.inputfile + label * {
    pointer-events: none;
}

nav {
    padding: 0;
    height: 60px;
    background-color: #f3f3f3;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

nav ul li {
    height: 100%;
    list-style: none;
    vertical-align: baseline;
    padding: 0;
    margin: 0;
    width: 200px;
}

nav ul li a, .choose-file-header a {
    color: black;
    text-transform: uppercase;
    font-family: "Gotham Pro", sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    height: 100%;
    vertical-align: baseline;
    align-items: center;
    transition: background 300ms, color 300ms;
    padding: 0 30px;
    justify-content: center;
}

nav ul li:hover, .current-link {
    background-color: #0e8fdf;
}

.current-link a {
    font-weight: bold;
}

nav ul li:hover a, .current-link a {
    color: white;
}

.popup ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0;
}

.choose-file-header {
    position: absolute;
    top: 0;
    left: 20px;
}

.chosen-file {
    display: inline-block;
    background-color: #18A3FA;
    border-radius: 20px;
    padding: 10px 15px 6px;
    color: white;
    margin-right: 10px;
    font-weight: normal;
}

.file-list {
    list-style: none;
    padding: 0;
    margin-top: 21px;
}

.file-list li a {
    display: inline-block;
    width: calc(100% - 20px);
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 12px 0 7px 20px;
    text-decoration: none;
    color: #282828;
}

.file-list li:hover {
    transition: background 300ms;
    display: inline-block;
    padding-right: 10px;
    background-color: #0e8fdf;
    min-width: 100%;
    box-sizing: border-box;
}

.file-list li a:hover {
    color: white;
    transition: color 300ms;
}

.no-file-found {
    text-align: left;
    padding-left: 20px;
}

.extension-error {
    float: right;
    color: rgba(138, 18, 11, 0.84);
}

.file-menu {
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    background-color: #dadada;
    color: #282828;
    transition: width 200ms;
}

.search-form {
    pointer-events: none;
    margin-left: 20px;
}

.search-form input {
    background: url(../img/search-icon-black.png) no-repeat 0 4px;
    background-size: 18px;
    font-size: 14px;
    color: #6a6a6a;
    width: 170px;
    padding: 6px 0 6px 25px;
    pointer-events: initial;
    border-width: 0;
    border-bottom: solid black 1px;
    margin-top: 10px;
}

.search-form input:focus {
    outline: none;
}

.search-form input::placeholder {
    transition: all 0.7s ease 0s;
    color: #888;
}

.search-form input:focus::placeholder {
    color: #bbb;
}

.current-file {
    background-color: #0e8fdf;
}

.file-list .current-file a {
    color: white;
}

.dropButton {
    height: 60px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #bcbcbc;
    color: #111;
}

.projects-dropdown {
    display: inline-block;
    width: 100%;
}

.projects-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    border: solid #888 1px;
    box-sizing: border-box;
}

.projects-dropdown-content a {
    color: black;
    padding: 12px 30px 12px 16px;
    text-decoration: none;
    display: block;
}

.projects-dropdown-content a:hover {
    background-color: #d8d8d8
}

.projects-dropdown:hover .projects-dropdown-content {
    display: block;
}

.projects-dropdown:hover .dropButton {
    background-color: rgba(152, 152, 152, 0.91);
}

.projects-dropdown p {
    width: 200px;
    overflow: hidden;
    padding: 22px 20px 10px;
    margin: 0;
}

.drop-down-arrow {
    position: absolute;
    margin-top: -40px;
    margin-left: 220px;
}

.message {
    text-align: center;
    color: #6a6a6a;
    margin-top: 100px;
}

.dim {
    width: 100vw;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 280px;
    pointer-events: none;
}

.loader-background {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: calc(50% - 25px);
    left: calc((100vw - 250px) / 2 + 250px - 25px);
    padding: 10px;
    box-sizing: border-box;
    opacity: 0.9;
    display: none;
}

.loader {
    border: 4px solid #d7d7d7;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.uploaded-files-drop-down {
    background-color: #f1f1f1;
}

#search-method-form {
    position: fixed;
    right: 30px;
}

.search-white-bg {
    z-index: -1;
    position: fixed;
    background-color: white;
    right: 22px;
    width: 210px;
    height: 50px;
}

#hide-file-list-button {
    position: absolute;
    bottom: 30px;
    right: 10px;
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    width: 30px;
    height: 30px;
}

#hide-file-list-button img {
    position: absolute;
    margin-left: -45%;
    margin-top: -50%;
    opacity: 0.5;
    transition: opacity 300ms;
}

#hide-file-list-button img:hover {
    cursor: pointer;
    opacity: 0.9;
}

#arrow-right {
    display: none;
}

button:focus {
    outline: none;
}

.vertical-project-name {
    transform: rotate(-90deg) translateX(-50px) translateY(-155px);
    margin-top: 100px;
    height: 40px;
    width: 350px;
    background-color: #c6c6c6;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.vertical-project-name:hover {
    cursor: pointer;
}